<div class="container">
  <div class="row">
    <div class="col-6 text-center">
      <div class="col-12">
        <h2> Add Collaborators! </h2>
      </div>
      <% @users.each do |user| %>
        <div class="col-12">
          <%= link_to user.name, collaborators_create_path(user_id: user.id, wiki_id: @wiki_id), method: :post, class: "btn" %>
        </div>
      <% end %>
    </div>
    <div class="col-6 text-center">
      <div class="col-12">
        <h2> Remove Collaborators </h2>
      </div>
      <% @wiki.user_collaborators.each do |user| %>
        <div class="col-12">
          <%= link_to user.name, collaborators_destroy_path(user_id: user.id, wiki_id:@wiki_id), method: :delete, class: 'btn'%>
        </div>
      <% end  %>
      </div>
    </div>
  </div>
</div>
