<div class="jumbotron bg-white">
  <h1 class="display-3">Welcome to Blocipedia!</h1>
  <p class="lead">
    This is a Wiki hosting service for the future, with great freatures like
    private wikis and collaborators that you control. An excellent community of open
    source developers help keep our free public wikis up to date and full of important
    information.
  </p>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <h2> Get instant access to public wikis </h2>
      <p>
        Sign up today to get instant access to all the best public wikis
        that the internet has to offer. Wikipedia doesn't have anything on
        Blocipedia when it comes to handling your day to day wiki browsing needs.
        And on top of that, sign up is free! All you need is an email to join this adventure
        into the unknown.
      </p>
      <div class="text-center">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-item btn black-text" %>
      </div>
    </div>
    <div class="col-md-4">
      <h2> Private Wikis for the discreet type </h2>
      <p>
        Haven't you ever wanted to intensely research and type of everything you
        know about something only to not allow anyone else to see it? Well we
        here at Blocipedia have just the feature for you. With private wikis, you can
        type up all the Wikis that you want and then not let anyone else see them.
        Later, you can change your wiki to public, or back to private. You're in the driver's
        seat on Blocipedia, not some outside moderator. Just sign up for our premium
        membership and you are good to go.
      </p>
    </div>
    <div class="col-md-4">
      <h2> Join our network of collaborators</h2>
      <p>
        If you do want other people to see your Wiki and help contribute to it, then Blocipedia
        is still the place for you. If you are a premium member with private wikis, you can add other
        premium members to you collaborators, letting them change the wiki as they see fit! But don't worry
        they won't be able to take you off the list of collaborators. We promise.
    </div>
  </div>
</div>
