<div class="jumbotron hero">
  <%= image_tag("holding-bread.jpg", alt: "person holding bread", class: "hero__img") %>
  <div class="hero__title">
    <h1 class="display-3 white-text marg-bot-md">Crust</h1>
    <p class="lead white-text">
      The premier application for any and all things bread related. We are connecting the bakers across the world to help them make stellar bread.
    </p>
  </div>
</div>
<div class="container marg-bot-md">
  <div class="row">
    <div class="col-md-4">
      <h2> Get instant access to public wikis </h2>
      <p>
        Sign up today to get instant access to all the best public wikis
        that the internet has to offer. Crust is going to have you making fantastic bread in no time. Sign Up is free.
      </p>
      <div class="text-center">
        <%= link_to "Sign Up", new_user_registration_path, class: "nav-item btn black-text" %>
      </div>
    </div>
    <div class="col-md-4">
      <h2> Private Wikis available for Premium Users</h2>
      <p>
        Lots of bakerys have secret knowledge that they want to make sure doesn't get in the hands of their competitors, but they want their bakers on staff to be able to access the information all the time. Our premium pages will let you control who can access and edit the information on your private pages, letting you keep everyone up to date on all the information, while keeping others in the dark. 
      </p>
    </div>
    <div class="col-md-4">
      <h2> Become the Baker you were meant to be </h2>
      <p>
        Bread is about hard work and dedication. Its about waking up at 4am to make sure you catch your bread at just the right rise. Its about diligently recording all the steps you take so that you can reproduce the best bread every time.
      </p>

      <p>
        With Crust, you'll be able to leverage the experience of millions. You can trust our Crust Collaborators to verify and check all the information on our public pages, and keep you working smarter, not harder.
      </p>
    </div>
  </div>
</div>
