<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2> Edit Wiki Pages </h2>
    </div>
  </div>
  </div class="row">
  <div class='col-12'>
    <%= render partial: 'form', locals: {wiki: @wiki} %>
  </div>
</div>
