/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import url("https://fonts.googleapis.com/css?family=Alegreya:400,700|Lato:300,400,700");

$primary-color:  #b57e00;
$primary-color-light: #ebad3f;
$grey-base-200: #EEEEEE;

.bg-faded {
  background-color: $primary-color;
}
.bg-white {
  background-color: white;
}
.bg-bread {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("holding-bread.jpg");
  background-size:cover;
  filter: brightness(60%);
  z-index: 0;

}
.white-text {
  color: white;
}

.black-text {
  color: black;
}
.sign-in-box {
  border: 1px solid black;
  margin-top: 1rem;
  background-color: white;
}

body {
  background-color: $grey-base-200;
}

.marg-bot-sm {
  margin-bottom: 1rem;
}

.marg-bot-md {
  margin-bottom: 3rem;
}

.marg-top {
  margin-top: 1rem;
}
