/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap";

$red-base-500:  #F44336;
$red-base-300: #E57373;
$grey-base-200: #EEEEEE;

.bg-faded {
  background-color: $red-base-300;
}

.white-text {
  color: white;
}

.black-text {
  color: black;
}
.sign-in-box {
  border: 1px solid black;
  margin-top: 1rem;
  background-color: white;
}

body {
  background-color: $grey-base-200;
}
